<!-- KaTeX CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.css" integrity="sha384-sMigNvhp5kLMi/sfMYed4vIkHCmGNSJ1E7OGRBBQELZ+sXKPfTdFn92y2NrcfaE1" crossorigin="anonymous">

<!-- KaTeX JS -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.js" integrity="sha384-cMkvdD4lgAduh4W7Nb+F7AuGvI4u24tOdHMW+/N0EbIhU4VKveaAfni5t3TkLYXw" crossorigin="anonymous"></script>

<!-- Auto-render extension -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrKII/06jOMz4kMurgzCQp8jK59q7UZ7FnVdBdTCqLms/y8rl+sDPRzJi/jiT" crossorigin="anonymous"
    onload="renderMathInElement(document.body, {
      delimiters: [
        {left: '$$', right: '$$', display: true},
        {left: '$', right: '$', display: false}
      ],
      throwOnError: false
    });"></script>
